@model MyFinance.Models.ViewModels.LoginVM

@{
    ViewData["Title"] = "Iniciar sesión";
    Layout = null;   
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mis Finanzas</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyFinance.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid fs-5">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Accounts" asp-action="Login">Mis Finanzas</a>
            </div>
        </nav>
    </header>
    <div class="container min-vh-100 d-flex align-items-center justify-content-center">
        <div class="row w-100">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow-sm">
                    <div class="card-body p-4">
                        <h2 class="text-center mb-4">Iniciar Sesión</h2>
                        @using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new { @class = "form-horizontal", id = "formLogin" }))
                        {
                            @Html.AntiForgeryToken()
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        
                            <div class="mb-3">
                                <label asp-for="Email" class="form-label"></label>
                                <input asp-for="Email" class="form-control" placeholder="usuario@ejemplo.com">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Password" class="form-label"></label>
                                <input asp-for="Password" class="form-control" placeholder="••••••••">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="remember">
                                    <label class="form-check-label" for="remember">Recordarme</label>
                                </div>
                                <a href="#" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
                            </div>
                            <button type="button" class="btn btn-primary w-100" id="btn-singIn">Iniciar sesión</button>
                        }
                        <hr>
                        <div class="text-center">
                            <span>¿No tienes cuenta?</span>
                            <a href="#" class="text-primary fw-bold">Regístrate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <span class="mb-3 mb-md-0 text-body-secondary">© @DateOnly.FromDateTime(DateTime.Now).Year Jerry HC</span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Accounts/Login.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</body>
</html>